#.env locale
GIT_TOKEN=token_github
GIT_REPO=github.com/exmple/example.git
PRIVATE_KEY_PATH=~/path/to/private_key
DB_HOST=192.123.123.123
DB_VOLUME_PATH=/example/your_db_data
DB_PASSWORD=your_db_password
DB_ROOT_PASSWORD=your_db_root_password
LB_FRONTEND_PORT=your_frontend_port
LB_STATS_PORT=your_stats_port
LB_CHECK_PATH=your_check_path_to_monitor
APP1_IP=123.123.123.111
APP2_IP=123.123.123.112
DB_IP=123.123.123.113
LB_IP=123.123.123.114

#variabili con default per l'applicazione, sovrascrivibili da .env
#APP_CONFIG_PORT=8000

#variabili con default per il load balancer, sovrascrivibili da .env
#LB_MAXCONN=20000
#LB_TIMEOUT_CONNECT=5000
#LB_TIMEOUT_CLIENT=50000
#LB_TIMEOUT_SERVER=50000
#LB_ALGORITHM=roundrobin
#LB_STATS_URI=/stats
#LB_FORCE_CONFIG=true   # Imposta a false per evitare la rigenerazione della configurazione ad ogni esecuzione, se il file esiste non verrà sovrascritto.
                        # attenzione! se i parametri all'interno variano questi non verranno applicati!

#variabili con default per il database, sovrascrivibili da .env
#DB_IMAGE=mysql:8.0
#DB_PORT=3306
#DB_DESTROY_VOLUME=false # Imposta a true se vuoi rimuovere fisicamente i dati all'avvio del cleanup
