#.env locale
GIT_REPO=github.com/exmple/example.git
#GIT_VERSION=main
PRIVATE_KEY_PATH=~/path/to/private_key
DB_HOST=192.123.123.123
DB_VOLUME_PATH=/example/your_db_data
LB_FRONTEND_PORT=your_frontend_port
LB_STATS_PORT=your_stats_port
LB_CHECK_PATH=your_check_path_to_monitor

#variabili con default per l'applicazione, sovrascrivibili da .env
#APP_CONFIG_PORT=8000


#variabili con default per il database, sovrascrivibili da .env
#DB_IMAGE=mysql:8.0
#DB_PORT=3306
#DB_DESTROY_VOLUME=false # Imposta a true se vuoi rimuovere fisicamente i dati all'avvio del cleanup
